<% content_for :title, "Tracker" %>

  <div class="content">
    <h1 class="display-title">Peppers</h1>
    <div class="container-trackers">
      <% @user.peppers.each do |pepper| %>
        <%= link_to pepper_path(pepper) do %>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= pepper.name %></h5>
              <h6 class="card-subtitle mb-2 text-muted">Goal: <%= pepper.goal %>  <%= pepper.units %></h6>
              <p class="card-text">Current value: <%= pepper.currVal %> <%= pepper.units %></p>
            </div>
          </div>
        <% end -%>
      <% end -%>
    </div>
</div>