<% content_for :title, "Tracker" %>

  <div class="content">
    <h1 class="display-title">Peppers</h1>
    <% if @user.peppers.empty? %>
        <%= link_to image_tag("penguin-sad.png", {class: 'img-sad'}) %>
        <h5 class="info-no-peppers">No peppers available!</h5>
    <% else %>
      <div class="container-trackers">
        <% @user.peppers.each do |pepper| %>
          <% if pepper.class.name === "ToDo" %>
            <%= link_to pepper_path(pepper) do %>
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title"><%= pepper.name %></h5>
                  <h6 class="card-subtitle mb-2 text-muted">Task List</h6>
                  <p class="card-text">Number of tasks: <%= pepper.tasks.length %></p>
                </div>
              </div>
            <% end -%>
          <% else %>
            <%= link_to pepper_path(pepper) do %>
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"><%= pepper.name %></h5>
                  <h6 class="card-subtitle mb-2 text-muted">Goal: <%= pepper.goal %>  <%= pepper.units %></h6>
                  <p class="card-text">Current value: <%= pepper.currVal %> <%= pepper.units %></p>
                </div>
              </div>
            <% end -%>
          <% end -%>
        <% end -%>
      </div>
    <% end -%>
  </div>