<% content_for :title, "Tracker" %>
<div class="body_users">
  <div class="grid_box">
    <div class="left">
      <%= image_tag "penguin_welcome.jpg" %>
    </div>
    <div class="right">
      <h1 class="right_title">Pepperoooni</h1>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field login_field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email' %>
        </div>
        <br>
        <br>
        <div class="field login_field">
          <%= f.password_field :password, autocomplete: "off", placeholder: 'Password' %>
        </div>
        <br>
        <% if devise_mapping.rememberable? -%>
          <div class="field login_field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Log in" %>
        </div>
      <% end %>
      <%= button_to 'Sign up', new_user_registration_path, :method => :get, :class => 'button-link-signin-user' %>
    </div>
  </div>
</div>
