<% content_for :title, "Tracker" %>
  <div class="login-container">
    <%= image_tag("logo-pepper.png", alt: "Logo", class: "logo-image") %>
    <h3>Your personal tracker. Hosted by penguins</h3>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field login_field form-group">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', :class => 'form-control' %>
      </div>
      <div class="field login_field form-group">
        <%= f.password_field :password, autocomplete: "off", placeholder: 'Password', :class => 'form-control' %>
      </div>
      <% if devise_mapping.rememberable? -%>
        <div class="field login_field checkbox">
          <%= f.check_box :remember_me, :class => 'checkbox1'%>
          <%= f.label :remember_me, :class => 'checkbox1'%>
        </div>
      <% end -%>
      <div class="actions">
        <%= f.submit "Log in", :class => 'btn btn-primary btn-lg'%>
      </div>
    <% end %>
    <%= button_to 'To Sign up', new_user_registration_path, :method => :get, :class => 'btn btn-sm'%>
  </div>
</div>
