
<%= form_with(model: pepper, local: true) do |f| %>
  <% if pepper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pepper.errors.count, "error") %> prohibited this pepper from being saved:</h2>

      <ul>
      <% pepper.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="create_form">
    <div class="field form-group">
      <%= f.label :name_your_pepper %>
      <%= f.text_field :name, placeholder: 'Name', :class => 'form-control', :required => true%>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Pepper type</label>
        </div>
        <%= f.select(:type, options_for_select(Pepper.types_and_labels), {}, { :class => 'custom-select', :id => 'inputGroupSelect01'}) %>
      </div>

      <div class="wrapper-no-tasks">
        <%= f.label :What_do_you_need?, 'What do you want to track? (e.g. steps, words, ...)'%>
        <%= f.text_field :units, placeholder: "Units", :class => 'form-control'%>

        <%= f.label :goal, 'Goal (enter a number)' %>
        <%= f.number_field :goal, placeholder: "Goal", :class => 'form-control', :min => 1%>

        <div class="radio-wrapper">
          <div class="radio-pepper">
            <%= f.radio_button :positive, true, :value => true, :name => 'radio1', :id => 'radio1'%>
            <%= label :positive, "at least" %>
          
            <%= f.radio_button :positive, false, :value => false, :name => 'radio1', :id => 'radio2'%>
            <%= label :positive, "less than"%>
          </div>
        </div>
      </div>

      <%= f.label :deadline %>
      <%= f.date_field :deadline, :class => 'form-control date-picker' %>
    </div>

    <%= f.submit "Save pepper", :class => 'btn btn-primary btn-lg'%>
  </div>
  <script>
    $('.custom-select').change(function() {
      if($('.custom-select').val() === 'Mean') {
        $('.radio-wrapper').show();
      } else {
        $('.radio-wrapper').hide();
      }
      if($('.custom-select').val() === 'ToDo') {
        $('.wrapper-no-tasks').hide();
      } else {
        $('.wrapper-no-tasks').show();
      }
    });
  </script>
<% end %>
