
<%= form_with(model: pepper, local: true) do |f| %>
  <% if pepper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pepper.errors.count, "error") %> prohibited this pepper from being saved:</h2>

      <ul>
      <% pepper.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <div class="field">
      <%= f.text_field :name, placeholder: 'Name'%><br>
      <br>

      <%= f.text_field :units, placeholder: "Units" %><br />
      <br>
      <div><%= label :positive, "at least" %>
      <%= f.radio_button :positive, true , :checked => true , :value => true %></div>

        <br>
        <div><%= label :positive, "less than"%>
        <%= f.radio_button :positive, false, :value => false%></div>
      <%= f.label :goal %><br />
      <%= f.number_field :goal %>

      <%= f.label :deadline %><br />
      <%= f.date_field :deadline %>

<%= f.select(:type, options_for_select([['Progress', "Progress"], ['Trend Line', "Trend"], ['Mean value', "Mean"], ['Tasks', "ToDo"], ['Regress', "Negative"], ['Trend Line', "Trend"]])) %>

    </div>
    <%= f.submit %>
  </div>
<% end %>
