<%= form_with(model: pepper, local: true) do |f| %>
  <% if pepper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pepper.errors.count, "error") %> prohibited this pepper from being saved:</h2>

      <ul>
      <% pepper.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>

      <%= f.label :units %><br />
      <%= f.text_field :units %><br />

      <p><%= radio_button_tag(:positive, "true") %>
      <%= label_tag(:positive, "at least") %>
      <%= radio_button_tag(:positive, "false") %>
      <%= label_tag(:positive, "less than") %>
      </p>
      <%= f.label :goal %><br />
      <%= f.number_field :goal %>

      <%= f.label :deadline %><br />
      <%= f.date_field :deadline %>




    </div>
    <%= f.submit %>
  </div>
<% end %>
