<% content_for :title, "New Pepper" %>
<div class="main_box">
  <div class="side-bar">
        <div class="profile_pic_main">
      <%= link_to image_tag(@user.picture, {class: 'img_main'}), edit_user_registration_path %>
        </div>
        <h3 class="hello">Hello <%= current_user.firstName %>!</h3>
        <%= button_to '+ New tracker', new_pepper_path, :method => :get, :class => 'button-new-tracker' %>
        <div class="overview-title"><%= link_to 'Overview', root_path %></div>
          <div class="overview-list-peppers">
              <% @user.peppers.each do |pepper| %>
              <h4><%= link_to(pepper.name.to_s, pepper_path(pepper)) %></h4>
              <% end -%>
          </div>
        <% if user_signed_in? %>
            <%= button_to 'Log out', destroy_user_session_path, method: :delete, :class => 'button-logout-user' %>
        <% else %>
            <%= link_to 'Log In', new_user_session_path %>
            <%= link_to 'Sign Up', new_user_registration_path %>
        <% end %>
    </div>
  <div class="content">
      <div class="display-title">Edit pepper</div>
      <div class="form-edit-tracker">
        <%= render 'form', pepper: @pepper %>
      </div>
  </div>
</div>
