<%= javascript_pack_tag 'application' %>
<p id="notice"><%= notice %></p>

<%= @pepper.name %>
<%= @pepper.user_id %>
<%= link_to 'Edit', edit_pepper_path(@pepper) %> |
<%= link_to 'Back', peppers_path %>

<%= content_tag :div,  class:"container-tracker", data: {info: @pepper.to_json}  do%>
    <p class="tracker-title">---</p>
    <div class="wrapper-progress-bar">
        <p>0%</p>
        <div class="progress-bar">
            <div class="progress-bar-internal"></div>
        </div>
        <p>100%</p>
    </div>
    <p class="progress-bar-state">---</p>
    <p class="progress-bar-deadline">---</p>
    <div class="progress-bar-input-wrapper">
        <button id="progress-bar-button-minus" class="progress-bar-button">-</button>
        <input class="progress-bar-input" type="text">
        <button id="progress-bar-button-plus" class="progress-bar-button">+</button>
    </div>
    <p class="progress-bar-notification"></p>
<% end %>

<script>
    var info = $(".container-tracker").data("info");
    $(window).on('load', () => { 
        pb1 = new ProgressBar("My BAC words tracker", 1000, 0, "words", "2018-12-31");
    });
</script>

