<% content_for :title, "Peppers" %>
    <div class="content">
        <div class="pepper-display-name"><%= @pepper.name%></div>
        <%= content_tag :div, class: "container-tracker", data: {info: @pepper.to_json} do %>
        <% end %>
        <script>
            var data = $(".container-tracker").data("info");
            console.log(data);
            $(document).on('turbolinks:load', () => {
                setTracker("<%= @pepper.class.name %>", data);
            });
        </script>
        <%= button_to 'Edit this pepper', edit_pepper_path, :class => 'button-edit-tracker' %>
        <%= button_to 'Delete this pepper', edit_pepper_path, :class => 'button-edit-tracker' %>
    </div>
