<% content_for :title, "Peppers" %>
  <div class="content">
    <h1><%= @pepper.name%></h1>
    <% if @pepper.class.name === "ToDo" %>
      <%= content_tag :div, class: "container-tracker", data: {info: @pepper.to_json, tasks: @pepper.tasks.to_json} do %>
      <% end %>
    <% else %>
      <%= content_tag :div, class: "container-tracker", data: {info: @pepper.to_json} do %>
      <% end %>
    <% end %>

    <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
      Delete this pepper
    </button>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Delete Pepper</h4>
          </div>
          <div class="modal-body">
            Do you really want to delete this pepper (<%= @pepper.name %>)?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Close</button>
            <%= button_to 'Delete this pepper', pepper_path(@pepper), method: :delete, :class => 'btn btn-danger btn-simple' %>
          </div>
        </div>
      </div>
    </div>

    <script>
        var data = $(".container-tracker").data("info");
        var tasks = $(".container-tracker").data("tasks");
        $(document).on('turbolinks:load', () => {
            setTracker("<%= @pepper.class.name %>", data, tasks);
        });
    </script>
  </div>
