<!DOCTYPE html>
<html>
  <head>
      <title><%= yield(:title) %></title>
      <%= csrf_meta_tags %> 
      <!-- <meta name="referrer" content="no-referrer"> -->
      <!-- Hat bei mir immer einen Fehler ("ActionController::InvalidAuthenticityToken") geworfen.
      Konnte mich somit nicht anmelden oder einen Pepper generieren -Marion -->
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Meddon" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
  </head>
  <body>
  <% if user_signed_in? %>
  <div class="main_box">
    <div class="side-bar">
      <div class="profile-pic-main">
        <%= link_to image_tag(@user.picture, {class: 'img-main'}), edit_user_registration_path %>
      </div>
      <br>
      <h3>Hello <%= current_user.firstName %>!</h3>
      <%= button_to '+ New tracker', new_pepper_path, :method => :get, :class => 'btn' %>
      <h4><%= link_to 'Overview', root_path %></h4>
      <div class="overview-list-peppers">
        <% if @user.peppers.empty? %>
        <p class="info-no-peppers">(You dont have any peppers yet.)</p>
      <% else %>
        <% @user.peppers.each do |pepper| %>
          <h6><%= link_to(pepper.name.to_s, pepper_path(pepper)) %></h6>
        <% end %>
      <% end %>
      </div>
      <% if user_signed_in? %>
        <%= button_to 'Log out', destroy_user_session_path, method: :delete, :class => 'btn btn-danger btn-sm' %>
      <% else %>
        <%= link_to 'Log In', new_user_session_path %>
        <%= link_to 'Sign Up', new_user_registration_path %>
      <% end %>

      <p>
        <a class="button" data-turbolinks="false" href="#popup2"><%= image_tag "penguin-help.jpg", class: 'helper' %></a>
      </p>
      <div id="popup2" class="overlay light">
        <div class="popup">
          <a class="close" data-turbolinks="false" href="#">&times;</a>

          <h4>Need some Help?</h4>
          <div class="help_content">
            These are the current available trackers:
            <ul class="overflow">
              <li>Progress bar<span></span></li>
              <li>Mean value<span></span></li>
              <li>Tasks<span></span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <%= yield %>
  </div>
  <% else %>
    <%= yield %>
    <% end -%>
  </body>
</html>
