<% content_for :title, "Edit Profile" %>
<div class="main_box">
<<<<<<< HEAD
  <div class="side-bar">
    <div class="profile_pic_main">
        <%= link_to image_tag(@user.picture, {class: 'img_main'}), edit_user_registration_path %>
    </div>
    <h3 class="hello">Hello <%= current_user.firstName %>!</h3>
    <%= button_to '+ New tracker', new_pepper_path, :method => :get,  :class => 'button-new-tracker' %>
    <div class="overview-title"><%= link_to 'Overview', root_path %></div>
      <div class="overview-list-peppers">
          <% @user.peppers.each do |pepper| %>
=======
  <div class="left_main">
    <div class="pos">
      <div class="profile_pic_main">
        <%= link_to image_tag("https://images.unsplash.com/photo-1502823403499-6ccfcf4fb453?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=26f427f929772c4a2bb1da62b3edca86&dpr=1&auto=format&fit=crop&w=1000&q=80&cs=tinysrgb", {class: 'img_main'}), edit_user_registration_path %>
      </div>
      <h3 class="hello">Hello <%= current_user.firstName %></h3>
      <div class="make_btn"><%= link_to 'New Tracker', new_pepper_path, :class => 'overview_title_a' %></div>
      <h2 class="overview_title"><%= link_to 'Overview', root_path %></h2>
      <div class="overview">
        <% @user.peppers.each do |pepper| %>
>>>>>>> 51f5b739f466a4b4f5d66aa94ade0a810d1c142f
          <h4><%= link_to(pepper.name.to_s, pepper_path(pepper)) %></h4>
        <% end -%>
      </div>
    </div>

  </div>
  <div class="right_edit">
    <h2 class="title_edit">Edit <%= resource_name.to_s.humanize %></h2>
    <div class="center">
    <div class="flex_row box">
      <div class="edit_form">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
          <%= devise_error_messages! %>
          <div class="field">
            <%= f.label :firstName %><br/>
            <%= f.text_field :firstName, autofocus: true, autocomplete: "first name",  placeholder: 'First Name'%>
          </div>
          <br>
          <div class="field">
            <%= f.label :lastName %><br/>
            <%= f.text_field :lastName, autofocus: true, autocomplete: "last name", placeholder: 'Last Name' %>
          </div>


          <div class="field">
            <%= f.label :email %><br/>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
          <br>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
          <div class="field_edit_pass">
            <div class="field">
              <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br/>
              <%= f.password_field :password, autocomplete: "off", placeholder: 'New Password' %>
              <% if @minimum_password_length %>
                <br/>
                <em class="text_right"><%= @minimum_password_length %> characters minimum</em>
              <% end %>
            </div>
            <br>
            <div class="field">
              <%= f.label :password_confirmation %><br>
              <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Repeat Password' %>
            </div>
            <br>
            <div class="field">
              <i>(we need your current password to confirm your changes)</i><br><br>
              <%= f.password_field :current_password, autocomplete: "off", placeholder: 'Current Password' %>
            </div>
          </div>

              <%= f.file_field :picture %>

          <div class="actions">
            <%= f.submit "Update" %>
          </div>
        <% end %>
      </div>
<<<<<<< HEAD
  </div>
    <div class="absolute">
      <i>Unhappy?</i>
      <%= button_to "Cancel my account", @user, method: :delete, data: { confirm: 'Are you sure?' } %>
    </tr>
    </div>

  <%= image_tag("penguin_normal.jpg", :class => 'pengiun_account') %>
=======
      <div class="pengiun_account_container">
        <div class="pengiun_edit">
          <%= image_tag("penguin_normal.jpg", :class => 'pengiun_account') %>
        </div>
        <div class="absolute">
          <i>Unhappy?</i>
          <%= button_to "Cancel my account", registration_path(resource_name), data: {confirm: "Are you sure?"}, method: :delete, id: 'cancel_account' %>
    <%= link_to "Back", :back %>

        </div>
      </div>
      </div>
    </div>
  </div>
>>>>>>> 51f5b739f466a4b4f5d66aa94ade0a810d1c142f
</div>
