<% content_for :title, "Sign Up" %>
<div class="grid_box">
  <div class="left">
    <h1>Pepper</h1>
    <h2>Your personal Tracker. Hosted by Penguins</h2>
    <%= image_tag "penguin_welcome.jpg", :class => "welcome-image" %>
  </div>
  <div class="right">
    <h2 class="right_title">Sign up</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

        <div class="field login_field">
          <%= f.text_field :firstName, autofocus: true, autocomplete: "first name", placeholder: 'First Name' %>
        </div>
        <br>
        <div class="field login_field">
          <%= f.text_field :lastName, autofocus: true, autocomplete: "last name", placeholder: 'Last Name' %>
        </div>
        <br>
        <div class="field login_field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email' %>
        </div>
        <br>
        <div class="field login_field" >
          <% if @minimum_password_length %>
            <%= f.password_field :password, autocomplete: "off", placeholder: 'Password (' + @minimum_password_length.to_s + ' characters minimum)' %>
          <% else %>
            <%= f.password_field :password, autocomplete: "off", placeholder: 'Password' %>
          <% end %>
        </div>
        <br>
        <div class="field login_field" >
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Password Confirmation ' %>
        </div>

      <%= f.label :picture, "Photo" %>
<%= f.file_field :picture %>

      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>
    <%= button_to 'Log in', new_user_session_path,  :class => 'button-link-signin-user' %>
    </div>
  </div>
</div>
