<% content_for :title, "Sign Up" %>
  <div class="login-container">
    <h1>[Pepper Logo]</h1>
    <h2>Sign up</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

        <div class="field login_field form-group">
          <%= f.text_field :firstName, autofocus: true, autocomplete: "first name", placeholder: 'First Name', :class => 'form-control' %>
        </div>
        <br>
        <div class="field login_field form-group">
          <%= f.text_field :lastName, autofocus: true, autocomplete: "last name", placeholder: 'Last Name', :class => 'form-control' %>
        </div>
        <br>
        <div class="field login_field form-group">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', :class => 'form-control' %>
        </div>
        <br>
        <div class="field login_field form-group" >
          <% if @minimum_password_length %>
            <%= f.password_field :password, autocomplete: "off", placeholder: 'Password (' + @minimum_password_length.to_s + ' characters minimum)', :class => 'form-control' %>
          <% else %>
            <%= f.password_field :password, autocomplete: "off", placeholder: 'Password', :class => 'form-control' %>
          <% end %>
        </div>
        <br>
        <div class="field login_field form-group" >
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Password Confirmation ', :class => 'form-control' %>
        </div>
        <div class="custom-file">
          <%= f.file_field :picture, :class => 'form-control-file', :class => 'custom-file-input', :id => 'customFile' %>
          <%= f.label :picture, "Upload profil picture", :class => 'custom-file-label'%>
        </div>

      <div class="actions">
        <%= f.submit "Sign up", :class => 'btn btn-primary btn-lg'%>
      </div>
    <% end %>
    <%= button_to 'Back to Log in', new_user_session_path,  :class => 'btn btn-sm' %>
    </div>
  </div>

